/*
 *
 * stub.css
 *
 */
body#zim {
    font-size: 100%;
    background-image: none;
}
#zim #content {
    margin: 0px;
    padding: 2px;
}
#zim .mw-body-content {
    line-height: 1.6;
    font-size: 0.875em;
}
#zim .mw-body-content p {
    line-height: inherit;
    margin: 0.5em 0;
}
/*
#zim #toc,
#zim .article-status,
#zim .thumbcaption .magnify,
#zim .editsection,
#zim .mw-editsection
{
    display: none;
}
*/
#zim table.wikitable, table.nicetable {
    margin-right: 0;
    margin-left: 0;
}

/* for en.wikivoyage.org */
/* supress Kartographer chartlet */
/*
.thumbinner a[data-lon] { 
    display: none;
}
*/
#zim #geoCoord {
    top: -20px;
}
#geoCoord img {
    display: none;
}
#zim #mw-customtoggle-mapToggle {
    display: none;
}
